/* ################ */
/* Container-Styles */
/* ################ */

/* Alle Bereiche mit der Klasse "wrk_container" standardmäßig ausblenden */
.wrk_container {
    display: none; /* Alle Bereiche standardmäßig ausblenden */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #f9f9f9;
}

/* Aktiver Bereich */
.wrk_container.active {
    display: block;
}

/* Header Info Styles */
.menu {
    position: relative;
    min-height: 60px;
}

.header-info {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    text-align: right;
    font-family: sans-serif;
    line-height: 1.3;
}
